.slider {
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0.8);
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #111111;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #ffffff;
  }
  &__content {}
  &__nav {
    &--prev {}
    &--next {}
  }
  &__item {
    display: none;

    img {
      display: block;
    }
    &.active {
      display: block;
    }
  }
}
