.analog-desc-extended {
  width: 350px;
  max-height: 100%;
  padding: 20px;
  overflow-y: auto;
  flex-shrink: 0;
  &__row {
    &:not(:last-child) {
      padding-bottom: 10px;
      border-bottom: 1px solid #333333;
    }
    &:not(:first-child) {
      padding-top: 10px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
    span {
      font-size: 16px;
      font-weight: 600;
    }
    button {
      display: flex;
      padding: 1px;
      margin: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      &:hover {
        svg {
          fill: #2965ff;
        }
      }
      svg {
        display: block;
        width: 16px;
        height: 16px;
        fill: #111111;
        transition: 0.2s linear;
      }
    }
  }
  &__name {
    font-size: 14px;
  }
  &__item {
    margin-top: 4px;
  }
}
