.compilation-indicators {
  margin-top: 15px;
  &__item {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    &:nth-child(2n) {
      background-color: rgba(#0000ff, 0.05);
    }
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
  }
  &__label {
    font-size: 16px;
    line-height: 17px;
    width: 310px;
  }
  &__value {
    margin-left: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    width: 190px;
    text-align: center;
  }
  &__address {
    display: block;
    margin-left: 10px;
  }
}
